@media only screen and (max-width: 1500px){

#mv1 li{
          display: inline-block;
        }
}


@media only screen and (max-width: 1300px){
	.row{ padding: 0 2%;}
	
	html{overflow-x: hidden;}

    h3,
    .box{padding: 0 2%;}
}

@media only screen and (max-width: 1023px){
	.row{ padding: 0 2%;}
  body{font-size: 15px;}

  blockquote{font-weight: 50;
                line-height: 100%;
	            word-spacing: 2px;
                font-size: 90%;
	            }
     
  .btn{
     	margin-top: 10px;
     }
  h3,
    .box{padding: 0 2%;}

    h1{
     	font-size: 100%;
     	word-spacing: 1px;
     	letter-spacing: 0px;
     	margin-left:20px; 
     }
     

     .span-1-of-5 img{height: 50px;}
}
	
@media only screen and (max-width: 767px){
        	.row{ padding: 0 2%;}

        	body{font-size: 12px;}
        	
        	footer{padding: 40px;
        		   margin-top: 20px;}

        	blockquote{font-size: 45%;
        		       font-weight:70;}

            .chg{font-size:200%;}

        .main-nav{
          display: none;
        }

         
        #mv1{
          float: left;
          margin-top: 1%;
          margin-left: 2%;
        }

        #mv1 li{
          display: block;
        }

        #mv1 li a:link,
        #mv1 li a:visited{

          display: block;
          border:0;
          padding: 5px 0;
          font-size: 80%;
        }

        #mv{
         display: inline-block;

        }

        .sticky .main-nav{
          margin-top:1%;
        }
        .sticky .main-nav li a:link,
        .sticky .main-nav li a:visited
        {
          padding: 10px 0;   
        }

        .sticky .mobile-nav i{
         color: #555;
        }

        .span-1-of-5{
         padding: 0 5px;
        }

            h3,
           .box{padding: 0 4px;}

           .span-1-of-5 img{height: 10px;}
        }
        }

@media only screen and (max-width: 500px){
   .row{ padding: 0 1%;}

   body{font-size: 7px;}

   .chg{font-size: 150%;}

   #log{
   	font-size: 120%;
   }

   .lh{
   	font-size: 100%;
   	line-height: 120%;
   }

   #b1{
   	padding: 0 1%;
   }

   #b1 img{
   	height: 50px;
   }
   #b1 h3{
   	font-size: 60%;
   }

   footer{padding: 20px;
	      margin-top: 10px;}
   
   .footer-nav{
   	margin-top: 10%;
   }

   h3,
   .box{padding: 0 2px;}

   .span-1-of-5 img{height: 8px;}
   }

    .row p{
	margin-top: 20%;
	font-size: 85%;}

   blockquote{
   	          margin-top: 10px;
   	          font-size: 70%;
		      font-weight:30;
              line-height: 60%;
	          word-spacing: 0.5px;
		  }

} 
